.main{
    overflow: hidden;
}

input{
    height: 40px;
    width: 250px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-row{
    margin-left: 50px;
    margin-bottom: 20px;
}

.button{
    width: 100px;
    height: 40px;
}


